
@font-face {
  font-family: 'Boon-400';
  src: url('Boon-400.eot?#iefix') format('embedded-opentype'),  url('Boon-400.woff') format('woff'), url('Boon-400.ttf')  format('truetype'), url('Boon-400.svg#Boon-400') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boon-400i';
  src: url('Boon-400i.eot?#iefix') format('embedded-opentype'),  url('Boon-400i.woff') format('woff'), url('Boon-400i.ttf')  format('truetype'), url('Boon-400i.svg#Boon-400i') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boon-700';
  src: url('Boon-700.eot?#iefix') format('embedded-opentype'),  url('Boon-700.woff') format('woff'), url('Boon-700.ttf')  format('truetype'), url('Boon-700.svg#Boon-700') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boon-700i';
  src: url('Boon-700i.eot?#iefix') format('embedded-opentype'),  url('Boon-700i.woff') format('woff'), url('Boon-700i.ttf')  format('truetype'), url('Boon-700i.svg#Boon-700i') format('svg');
  font-weight: normal;
  font-style: normal;
}