@font-face {
  font-family: 'DBHeavent';
  src: url('DBHeavent.eot?#iefix') format('embedded-opentype'),  url('DBHeavent.woff') format('woff'), url('DBHeavent.ttf')  format('truetype'), url('DBHeavent.svg#DBHeavent') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DBHeavent-Bold';
  src: url('DBHeavent-Bold.eot?#iefix') format('embedded-opentype'),  url('DBHeavent-Bold.woff') format('woff'), url('DBHeavent-Bold.ttf')  format('truetype'), url('DBHeavent-Bold.svg#DBHeavent-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DBHeavent-BoldIt';
  src: url('DBHeavent-BoldIt.eot?#iefix') format('embedded-opentype'),  url('DBHeavent-BoldIt.woff') format('woff'), url('DBHeavent-BoldIt.ttf')  format('truetype'), url('DBHeavent-BoldIt.svg#DBHeavent-BoldIt') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DBHeavent-Italic';
  src: url('DBHeavent-Italic.eot?#iefix') format('embedded-opentype'),  url('DBHeavent-Italic.woff') format('woff'), url('DBHeavent-Italic.ttf')  format('truetype'), url('DBHeavent-Italic.svg#DBHeavent-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

