@font-face {
  font-family: 'DBHeaventRez';
  src: url('DBHeaventRez-Bold.eot?#iefix') format('embedded-opentype'),  url('DBHeaventRez-Bold.woff') format('woff'), url('DBHeaventRez-Bold.ttf')  format('truetype'), url('DBHeaventRez-Bold.svg#DBHeaventRez-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DBHeaventRez';
  src: url('DBHeaventRez-BoldIt.eot?#iefix') format('embedded-opentype'),  url('DBHeaventRez-BoldIt.woff') format('woff'), url('DBHeaventRez-BoldIt.ttf')  format('truetype'), url('DBHeaventRez-BoldIt.svg#DBHeaventRez-BoldIt') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DBHeaventRez';
  src: url('DBHeaventRez-Italic.eot?#iefix') format('embedded-opentype'),  url('DBHeaventRez-Italic.woff') format('woff'), url('DBHeaventRez-Italic.ttf')  format('truetype'), url('DBHeaventRez-Italic.svg#DBHeaventRez-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DBHeaventRez';
  src: url('DBHeaventRez-Regular.eot?#iefix') format('embedded-opentype'),  url('DBHeaventRez-Regular.woff') format('woff'), url('DBHeaventRez-Regular.ttf')  format('truetype'), url('DBHeaventRez-Regular.svg#DBHeaventRez-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}